@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 10s linear infinite;
}

.round-ended {
  @apply text-center;

  h1 {
    @apply text-2xl;
  }

  .stats {
    @apply flex gap-4 mx-auto w-fit my-4 items-center;

    .round-ended-red {
      @apply bg-red-500 py-1.5 px-3 w-fit rounded-lg min-w-12;
    }

    .round-ended-blue {
      @apply bg-blue-500 py-1.5 px-3 w-fit rounded-lg min-w-12;
    }
  }
}

.player-stats {
  @apply flex items-center w-fit gap-6 text-xs mt-8 mb-12 mx-auto;

  img {
    @apply mx-auto animate-spin-slow;
  }

  h3 {
    @apply font-bold;
  }

  div {
    @apply text-center;
  }
}
