#loading-wrapper {
  @apply absolute z-50
  bg-[#CCE4F0] w-screen h-screen z-50 border border-4;
}

#loading {
  @apply text-black text-sm fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @apply mb-6 h-[60px];
}
.loading-image {
  animation: bounce 1s infinite ease-in-out;
  margin: 0 10px;
}
.loading-image:nth-child(1) {
  animation-delay: 0s;
}
.loading-image:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-image:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
